:host {
    font-family: 'Courier New', Courier, monospace;
    cursor:text;
}

#container {
    display: flex;
    flex-direction: row;
    min-height: 1lh;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}
#container.focused {
    border-color: rgba(0, 0, 0, .3);
}
#elements {
    display: flex;
}
#placeholder {
    display: none;
    color: rgba(0, 0, 0, .6);
    text-align: center;
}
#container.empty #placeholder {
    display: block;
}
#container.focused #placeholder {
    display: none;
}
.left, .right {
    flex-grow: 1;
}
#container.empty:not(.focused) .left, #container.empty:not(.focused) .right {
    flex-grow: 0;
}
#container.empty:not(.focused) .middle {
    flex-grow: 1;
}
#container.empty:not(.focused) {
    background-color: rgba(0, 0, 0, .1);
}
#container.dragging anagram-input-element {
    margin-left: .2em;
}
#container.dragging anagram-input-element:last-child {
    margin-right: .2em;
}
#container.dragging anagram-input-drop-location + anagram-input-element {
    margin-left: 0;
}

input {
    padding: 0;
    border: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--font-size);
    position: absolute;
    background-color: transparent;
}

#input2 {
    width: .5em;
}

input:focus {
    outline: none;
}