:host {
    font-family: 'Courier New', Courier, monospace;
    cursor:text;
}

.container-like {
    padding: 5px;
    border-width: 1px;
    border-color: transparent;
}

#container {
    display: flex;
    flex-direction: row;
    min-height: 1lh;
    border-style: solid;
    position: relative;
}
#container.focused {
    border-color: rgba(0, 0, 0, .3);
}
#elements {
    display: flex;
}
#overlay-elements {
    display: flex;
}
#placeholder {
    display: none;
    color: rgba(0, 0, 0, .6);
    text-align: center;
}
#container.empty #placeholder {
    display: block;
}
#container.focused #placeholder {
    display: none;
}
.left, .right {
    flex-grow: 1;
}
#container.empty:not(.focused) .left, #container.empty:not(.focused) .right {
    flex-grow: 0;
}
#container.empty:not(.focused) .middle {
    flex-grow: 1;
}
#container.empty:not(.focused) {
    background-color: rgba(0, 0, 0, .1);
}
#dragging-overlay {
    display: none;
    position:absolute;
    left: 0;
    top: 0;
    width: calc(100% - 10px);
    opacity: 0;
}
#container.drag-active #dragging-overlay {
    display: flex;

}
.elements-wrapper {
    display: flex;
}
#first-interstice {
    width: var(--drag-drop-spacing);
    background-color: #0f0;
    height: 1lh;
}
input {
    padding: 0;
    border: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--font-size);
    position: absolute;
    background-color: transparent;
}

#input2 {
    width: .5em;
}

input:focus {
    outline: none;
}