:root {
    --font-size: 18px;
    font-size: var(--font-size);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.list-container {
    flex-grow: 1;
    min-height: 0;
}