:root {
    --font-size: 25px;
    font-size: var(--font-size);
    --drag-drop-spacing: 5px;
    --longer-value-border-width: 2px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

anagram-input {
    margin: 5px;
}

.list-container {
    flex-grow: 1;
    min-height: 0;
}