#container {
    width: 10px;
    height: 100%;
    background-color: #f00;
    display: none;
}

#container.visible {
    display: block;
}
#thumb {
    position: absolute;
    background-color: #0f0;
    width: 100%;
}