#container {
    display: none;
    height: 100%;
}

.track {
    width: 10px;
    background-color: rgba(0, 0, 0, .15);
    position: relative;
    height: 100%;
}

.extra-track {
    width: 5px;
    position: relative;
    height: 100%;
    display: none
}

#container.extra-track-visible .extra-track{
    display: block;
}

#container.visible {
    display: flex;
    flex-direction: row;
}
#thumb {
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
}

#extra-thumb {
    position: absolute;
    width: 5px;
    height: 10px;
    background-color: rgba(0, 0, 0, .8);
    clip-path: polygon(0 100%, 100% 50%, 0 0)
}