.container {
    height: 100%;
    position: relative;
}

#content-container {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

.scrollbar-container {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
}

very-long-list-item {
    display: block;
}